<div class="module form{{#if moduleClasses}} {{moduleClasses}}{{/if}}">
    <div class="gform_wrapper">
        <form action="/">
            <div class="gform_body">
                <ul class="gform_fields top_label">
                    <li class="gfield hidden_label half-width">
                        <label class="gfield_label" for="idlabel1">Fist Name</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="First Name" id="idlabel1">
                        </div>
                    </li>
                    <li class="gfield hidden_label half-width">
                        <label class="gfield_label" for="idlabel2">Last Name</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Last Name" id="idlabel2">
                        </div>
                    </li>
                    <li class="gfield hidden_label half-width">
                        <label class="gfield_label" for="idlabel4">Phone</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Phone Number" id="idlabel4">
                        </div>
                    </li>
                    <li class="gfield hidden_label half-width">
                        <label class="gfield_label" for="idlabel3">Email *</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Email Address" id="idlabel3">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel8">Your Comments/Quesitons<span class="gfield_required">*</span></label>
                        <div class="ginput_container ginput_container_textarea">
                            <textarea id="idlabel8" class="textarea" placeholder="How can we help?" rows="10" cols="50"></textarea>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="gform_footer top_label">
                <input type="submit" class="gform_button button" value="Submit">
            </div>
        </form>
    </div>
</div>
