<div class="module carousel images-carousel-wrapper {{#if moduleClasses}} {{moduleClasses}}{{/if}}">
    <button class="images-carousel__prev slick-prev"><span class="show-for-sr">button prev</span></button>
    <button class="images-carousel__next slick-next"><span class="show-for-sr">button next</span></button>

    <div class="images-carousel">
        {{#each data}}
        <div class="carousel-item">
            <img src="{{root}}{{img}}" alt="">
        </div>
        {{/each}}
    </div>
</div>
