#dashboard-widgets-wrap .postbox-container .empty-container {
    display: block !important;
}

.post-type-mmt_team_member th#default_team_headshot {
  width: 15%;
}

.post-type-post th#categories {
  width: 50%;
}

#categorydiv {
display: none;
}

div[data-name="primary_phone_number"] .intl-tel-input {
  width: 100%;
  input {
    width: 100%;
  }
}