.images-carousel-wrapper {
    position: relative;

    @include slider-arrows;

    .carousel-item {
        height: rem-calc(595);
        width: 100%;
        overflow: hidden;
        clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 23%);

        @include breakpoint(medium down) {
            height: 50vw;
        }

        img,
        svg {
            object-position: center center;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
