.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: color('primary');
    color: color('black-shade');
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 0;
    transition: color $tr/2, background $tr/2, border-color $tr/2, clip-path $tr/2;
    @include font-size(20, 1.6);
    width: rem-calc(164);
    padding: rem-calc(10 26);
    border-radius: 0;
    height: rem-calc(48);
    position: relative;
    font-weight: 600;

    &:hover {
        color: color('black-shade');
        background: color('blue-dark');
    }

    &.large {
        padding: rem-calc(10 42);
    }

    &:active {
        clip-path: polygon(0% 30%, 15% 0%, 100% 0%, 100% 70%, 85% 100%, 0% 100%);
    }

    &:focus {
        background: color('primary');
        color: color('black-shade');

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border: 1px solid #6cdaeb;
        }
    }

    &.simple {
        height: auto;
        padding: initial;
        width: initial;
        @include typo('text');
        font-weight: 500;
        background: none !important;
        border: none !important;
        clip-path: none !important;
        color: color('blue');

        &:before {
            border: none !important;
        }

        &.arrow {
            &:before,
            &:after {
                pointer-events: none;
                content: '';
                position: absolute;
                top: 50%;
                right: rem-calc(-28);
                transform: translate(0, -50%);
                transition: height $tr/2, right $tr/2, width $tr/2;
            }

            &:before {
                width: rem-calc(18);
                height: rem-calc(2);
                background: color('blue');
            }

            &:after {
                width: rem-calc(10);
                height: rem-calc(10);
                background: none;
                transform: translate(0, -50%) rotate(-45deg);
                border-right: rem-calc(2) solid color('blue');
                border-bottom: rem-calc(2) solid color('blue');
            }

            &:hover,
            &:active,
            &:focus {
                &:before,
                &:after {
                    right: rem-calc(-36);
                    left: initial;
                }

                &:before {
                    width: rem-calc(26);
                }
            }
        }
    }

    &.outlined {
        background: none;
        color: color('white');
        border: 2px solid color('white');
        border-radius: rem-calc(24);
        clip-path: none !important;
        white-space: nowrap;
        width: auto;

        &:hover {
            background: color('grey');
        }

        &:active,
        &:focus {
            background: color('white');
            color: color('black-light');
        }

        &:before {
            border: none !important;
        }
    }

    &:focus,
    &:active {
        outline: 0;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
    }
}

.button-arrow {
    background: none;
    position: relative;
    height: rem-calc(48);
    width: rem-calc(48);
    background-color: color('blue-900');
    transition: background-color $tr/2, border $tr/2;
    border: 1px solid transparent;
    cursor: pointer;
    transform: none;
    margin: 0;
    display: inline-flex;

    &.prev {
        &:after {
            left: 50%;
            transform: translate(-120%, -50%) rotate(135deg);
        }
    }

    &:before {
        width: rem-calc(25);
        height: rem-calc(2);
        background: color('blue');
    }

    &:before,
    &:after {
        pointer-events: none;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height $tr/2, right $tr/2, width $tr/2, background-color $tr/2, border $tr/2, transform $tr/2;
    }

    &:after {
        background: none;
        width: rem-calc(10);
        height: rem-calc(10);
        transform: translate(20%, -50%) rotate(-45deg);
        border-right: rem-calc(2) solid color('blue');
        border-bottom: rem-calc(2) solid color('blue');
    }

    &:hover {
        &:before {
            width: rem-calc(30);
        }

        &:after {
            transform: translate(40%, -50%) rotate(-45deg);
        }

        &.prev {
            &:after {
                transform: translate(-150%, -50%) rotate(135deg);
            }
        }
    }

    &:active,
    &:focus {
        border: 1px solid color('blue');
    }

    &.disabled {
        pointer-events: none;
        border: 1px solid transparent;

        &:before {
            background: color('grey');
        }

        &:after {
            border-color: color('grey');
        }
    }
}

.hero-button-to-bottom {
    height: rem-calc(64);
    width: rem-calc(64);
    background-color: color('blue');
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    box-shadow: 0 10px 30px 10px rgba(22, 25, 32, 0.51);
    transition: background-color $tr/2;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem-calc(3);
        height: rem-calc(30);
        background: color('black');
        transition: height $tr/2;
    }

    &:after {
        content: '';
        position: absolute;
        top: 60%;
        left: 50%;
        width: rem-calc(15);
        height: rem-calc(15);
        background: none;
        transform: translate(-50%, -50%) rotate(45deg);
        border-right: rem-calc(3) solid color('black');
        border-bottom: rem-calc(3) solid color('black');
        transition: top $tr/2;
    }

    &:hover,
    &:active,
    &:focus {
        background: color('blue-dark');

        &:before {
            height: rem-calc(40);
        }

        &:after {
            top: 70%;
        }
    }
}
