section.hero-unit {
    position: relative;
    min-height: rem-calc(800);
    display: flex;
    align-items: center;

    .grid-container {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &.bg-image,
    &.bg-video {
        color: color('inverse');
    }

    //home hero unit
    .home & {}
}
