.site-header {
    .primary-navigation {
        ul {
            align-items: center;

            > li {
                margin-right: rem-calc(32);

                &:last-child {
                    margin-right: 0 !important;
                }

                &:not(.button) {
                    a {
                        font-size: rem-calc(20);
                        font-weight: 700;
                        padding: rem-calc(8);
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                            height: 1px;
                            background: color('blue');
                            transition: width $tr/2;
                            width: 0;
                        }

                        &:hover {
                            &:before {
                                width: calc(100% - 1rem);
                            }
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: color('blue');

                            &:before {
                                width: calc(100% - 1rem);
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown.menu>li>a,
.dropdown.menu>li.is-active>a,
.menu .active>a {
    background: inherit;
    color: inherit;
}

.drilldown a {
    background: none;
}

.menu,
.menu.dropdown {
    li.button,
    > li.button {
        padding: 0;
        background: none;
        height: auto;
        display: block;
        text-align: left;

        > a {
            @extend .button;
        }
    }
}

.menu.dropdown {
    > li {
        &.is-dropdown-submenu-parent {
            > a {
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }

        //submenu
        ul {
            display: block;
            pointer-events: auto;
            visibility: hidden;
            opacity: 0;
            transform: translate(0, 10px);
            transition: opacity 0.3s ease-in, transform 0.3s ease-in, visibility 0.3s ease-in;
        }

        //active state
        &.is-active {
           ul {
               opacity: 1;
               transform: translate(0, 0);
               visibility: visible;
           }
       }
    }
}
