section.content-block.template-content-cards {
    .template-cards-content-grid {

        @include breakpoint(medium down) {
            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                height: inherit !important;

                > div,
                .cell {
                    height: 100%;
                }
            }

            .slick-dots {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: rem-calc(32);

                li {
                    background: color('grey');
                    width: rem-calc(16);
                    height: rem-calc(16);
                    margin-right: rem-calc(8);
                    font-size: 0;
                    transition: background-color $tr/2;

                    &.slick-active {
                        background: color('blue');
                    }

                    &:last-child {margin-right: 0;}
                }
            }
        }

        .cell {
            display: flex !important;
            flex-direction: column;
            max-width: rem-calc(384);

            .img-wrapper {
                @include imgWrapper;
                max-height: rem-calc(241);
                height: 100%;
                position: relative;

                @include breakpoint(small only) {
                    max-height: rem-calc(192);
                }
            }

            .content {
                height: 100%;
                background: color('blue-900');
                padding: rem-calc(32);
                display: flex;
                flex-direction: column;
                clip-path: polygon(100% 0, 100% 82%, 70% 100%, 0 100%, 0 0);

                .title {
                    & + * {
                        margin-top: rem-calc(8);
                    }
                }

                .description {
                    margin-bottom: rem-calc(32);
                    @include typo('p-sm');
                    font-weight: 5300;
                }

                .button {
                    margin-top: auto;
                    width: fit-content;
                }
            }
        }
    }

    &.layout-stacked {
        @include responsive-margin('top', $base-margin + 68px);

        @include breakpoint(small only) {
            margin-top: rem-calc(64);
        }
    }

    .template-cards-content-stacked {

        .item {
            display: flex;
            @include responsive-margin('bottom', $base-margin * 1.5);

            @include breakpoint(small only) {
                flex-direction: column;
            }

            &:last-child {
                margin-bottom: 0 !important;
            }

            .img-wrapper {
                clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
                overflow: hidden;
                position: relative;

                @include breakpoint(medium up) {
                    height: 100%;
                    margin-right: rem-calc(-79);
                    margin-top: rem-calc(-68);
                    max-height: rem-calc(480);
                    max-width: rem-calc(793);
                    width: 100%;
                }

                img,
                svg {
                    object-fit: cover;
                    object-position: center center;
                    height: 100%;
                    width: rem-calc(793);
                }
            }

            .content {
                padding: rem-calc(48);
                clip-path: polygon(100% 0, 100% 82%, 70% 100%, 0 100%, 0 0);
                background: color('blue-900');

                @include breakpoint(medium up) {
                    max-width: rem-calc(476);
                    min-height: rem-calc(480);
                    width: 100%;
                }

                @include breakpoint(small only) {
                    padding: rem-calc(32 32 64 32);
                    clip-path: polygon(100% 0, 100% 90%, 78% 100%, 0 100%, 0 0);
                }

                .title {
                    & + * {
                        margin-top: rem-calc(8);
                    }
                }

                .description {
                    margin-bottom: rem-calc(32);
                    font-size: rem-calc(20);
                    font-weight: 400;
                    line-height: rem-calc(30);
                }

                .button {
                    margin-top: auto;
                    width: fit-content;
                }
            }
        }
    }
}
