section.content-block.template-instagram-feed {
    .instagram-feed-top {
        position: relative;

        & + * {
            margin-top: rem-calc($base-margin/2);

            @include breakpoint(small only) {
                margin-top: rem-calc(24);
            }
        }

        .template-header {
            .headline {
                font-weight: 600;
            }
        }
    }


    .slick-slide {

        .item {
            .img-wrapper {
                height: rem-calc(282);

                @include breakpoint(medium down) {
                    height: rem-calc(304);
                }

                img,
                svg {
                    object-position: center center;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    @include slider-arrows;

    .slick-arrow {
        bottom: 0;
        left: initial;
        top: initial;
        right: 0;
        margin: 0 !important;

        @include breakpoint(small only) {
            margin-top: rem-calc(32) !important;
        }

        &.slick-prev {
            @include breakpoint(small only) {
                left: 0;
                right: initial;
            }
        }
    }
}
