section.content-block.template-blog {

    .template-blog-stacked {
        & + * {
            margin-top: rem-calc(64);
        }

        .item {
            display: flex;

            @include breakpoint(small only) {
                flex-direction: column;
            }

            .img-wrapper {
                clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
                overflow: hidden;

                @include breakpoint(medium up) {
                    height: 100%;
                    max-height: rem-calc(480);
                    max-width: rem-calc(793);
                    width: 100%;
                }

                img,
                svg {
                    object-fit: cover;
                    object-position: center center;
                    height: 100%;
                    width: rem-calc(793);
                }
            }

            .content {
                padding: rem-calc(48);
                clip-path: polygon(100% 0, 100% 82%, 70% 100%, 0 100%, 0 0);
                background: color('blue-900');
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include breakpoint(medium up) {
                    max-width: rem-calc(476);
                    min-height: rem-calc(480);
                    width: 100%;
                }

                @include breakpoint(small only) {
                    padding: rem-calc(32 24 32 24);
                    clip-path: polygon(100% 0, 100% 90%, 78% 100%, 0 100%, 0 0);
                }

                .preheadline {
                    color: color('blue');
                    font-size: rem-calc(16);
                    font-weight: 400;

                    & + * {
                        margin-top: rem-calc(16);
                    }
                }

                .title {
                    & + * {
                        margin-top: rem-calc(64);

                        @include breakpoint(small only) {
                            margin-top: rem-calc(16);
                        }
                    }
                }

                .button {
                    width: fit-content;
                    font-size: rem-calc(24)
                }
            }
        }
    }

    .blog-filters-wrapper {
        & + * {
            margin-top: rem-calc(64);
        }

        p {
            font-size: rem-calc(20);
            font-weight: 500;

            & + * {
                margin-top: rem-calc(24);
            }
        }

        .blog-filters {
            display: flex;
            align-items: center;
            margin-bottom: rem-calc(-24);
            flex-wrap: wrap;

            .button {
                margin-right: rem-calc(24);
                margin-bottom: rem-calc(24);
                &:last-child {margin-right: 0;}
            }
        }
    }

    .template-blog-items {
        @include responsive-margin('bottom', -96);

        .cell {
            @include responsive-margin('bottom', 96);

            .img-wrapper {
                @include imgWrapper;

                & + * {
                    margin-top: rem-calc(24);
                }
            }

            .preheadline {
                color: color('blue');
                font-size: rem-calc(16);
                font-weight: 400;

                & + * {
                    margin-top: rem-calc(4);
                }
            }

            .title {
                & + * {
                    margin-top: rem-calc(16);
                }
            }
        }
    }
}
