section.hero-unit {
    position: relative;
    display: flex;
    align-items: center;
    background: #24282f;

    @include breakpoint(large) {
        min-height: rem-calc(637);
    }

    @include breakpoint(medium down) {
        flex-direction: column-reverse;
        overflow: hidden;
        padding-top: rem-calc(120);
        padding-bottom: rem-calc(146);
    }


    .hero-unit-content {
        max-width: rem-calc(500);
    }

    h1 {
        margin-bottom: rem-calc(16);
    }

    h2 {
        @include typo('text');
    }

    .button {
        margin-top: rem-calc(32);
    }

    .overlay {
        background: none;

        &.hero-image {
            max-width: rem-calc(1440);
            margin-left: auto;
            margin-right: auto;

            @include breakpoint(medium down) {
                position: relative;
                min-width: rem-calc(571);
                left: 50%;
                transform: translate(-50%, 0);
                margin-top: rem-calc(16);
            }

            img,
            svg {
                width: auto;
                height: 100%;
                object-position: right;
                margin-left: auto;
                display: block;
                clip-path: polygon(63% 0, 100% 0%, 100% 100%, 0% 100%, 0 42%);

                @include breakpoint(medium down) {
                    width: 100%;
                }
            }

            .hero-lines {
                max-width: rem-calc(1440);
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
                overflow: hidden;

                img,
                svg {
                    object-fit: contain;
                    position: absolute;
                    right: -20%;
                    top: 31%;

                    @include breakpoint(medium down) {
                        right: -40%;
                        object-fit: cover;
                    }
                }
            }
        }

       &.hero-overlay-lines {
            position: absolute;
            max-width: rem-calc(1440);
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
            overflow: hidden;
            height: 100%;
            width: 100%;
            left: 50%;
            transform: translate(-50%, 0);

           @include breakpoint(medium down) {
               bottom: 0;
               right: 0;
               left: initial;
               transform: none;
               max-height: rem-calc(180);
               overflow: initial;
           }

            img,
            svg {
                object-fit: contain;
                position: absolute;
                width: 113%;
                height: 140%;
                object-position: right;
                right: 0%;
                top: 0%;

                @include breakpoint(medium down) {
                    object-fit: contain;
                    height: 32.5rem;
                    top: 92%;
                    left: 21%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    .grid-container {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &.bg-image,
    &.bg-video {
        color: color('inverse');
    }

    //home hero unit
    .home & {
        background: none;

        @include breakpoint(large) {
            min-height: rem-calc(757);
        }

        .hero-unit-content {
            padding-top: rem-calc(210);

            @include breakpoint(medium down) {
                padding-top: rem-calc(64);
            }
        }
    }
}
