{{#> content-block template="team" classes=classes}}
<div class="grid-container">
    <div class="team-top">
        {{> template-header headline=headline description=description moduleClasses="" }}
        <button class="team__prev slick-prev"></button>
        <button class="team__next slick-next"></button>
    </div>

    <div class="template-team-slider">
        {{#each data}}
            <div class="item">
                <div class="img-wrapper">
                    <img src="{{root}}{{img}}" alt="">
                </div>
                <p class="name">{{name}}</p>
                <p class="description">{{description}}</p>
            </div>
        {{/each}}
    </div>


</div>
{{/content-block}}
