{{#> content-block template="content-cards" classes=classes}}
<div class="grid-container">

    {{#ifequal layout "grid"}}
    <div class="grid-x grid-margin-x block-grid medium-up-2 large-up-3 align-center template-cards-content-grid">
        {{#each data}}
            <div class="cell">
                <div class="img-wrapper">
                    <img src="{{root}}{{img}}" alt="">
                </div>

                <div class="content">
                    <h4 class="title">{{title}}</h4>
                    <p class="description">{{description}}</p>
                    <a href="{{root}}{{link}}" class="button simple arrow">{{button-text}}</a>
                </div>
            </div>
        {{/each}}
    </div>
    {{/ifequal}}

    {{#ifequal layout "stacked"}}
    <div class="grid-x grid-margin-x align-center template-cards-content-stacked">
        {{#each data}}
            <div class="item">
                <div class="img-wrapper">
                    <img src="{{root}}{{img}}" alt="">
                </div>

                <div class="content">
                    <h4 class="title">{{title}}</h4>
                    <p class="description">{{description}}</p>
                    <a href="{{root}}{{link}}" class="button large">{{button-text}}</a>
                </div>
            </div>
        {{/each}}
    </div>
    {{/ifequal}}


</div>
{{/content-block}}
