{{#> content-block template="single-post" classes=classes}}
<div class="grid-container">

    <a href="{{root}}blog.html" class="back-to-blog">Back to blog</a>

    <div class="grid-x grid-margin-x align-center template-single-post-stacked">
        <div class="item">
            <div class="img-wrapper">
                <img src="{{root}}assets/images/cms/blog-2.png" alt="">
            </div>

            <div class="content">
                <p class="preheadline">Nutrition</p>
                <h2 class="title">Main Blog Post Title Lorem Ipsum</h2>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x single-post-content">
        {{#>text-editor}}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h4>Secondary Headline Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <img src="{{root}}assets/images/cms/item-5.png" alt="" class="size-medium">
        {{/text-editor}}
    </div>
</div>
{{/content-block}}
