// Usage:
// color('primary');
// color('blue', 'base');
// fontFamily('body')
// spacing('margin')
// theme('layout', 'width')
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$theme: (
    'colors': (
        'primary': #23bffd,
        'white': #fff,
        'black': #000,
        'black-shade': #151515,
        'black-light': #161920,
        'inverse': #fff,
        'text': #fff,
        'green': #76bf24,
        'blue': #3ebddf,
        'blue-dark': #2d96bf,
        'yellow': #fcd31b,
        'orange': #ff6f3f,
        'grey': #616264,
    ),
    'breakpoints': (
        'small': 0,
        'medium': 768,
        'large': 1024,
        'xlarge': 1280,
        'xxlarge': 1536
    ),
    'fontFamily':(
        'body': 'Archivo Narrow',
        'headings': 'Archivo Narrow'
    ),
    'spacing':(
        'margin': 128,
        'padding': 96,
        'module-margin': 64,
        'module-padding': 64
    ),
    'layout':(
        'width': 1240,
        'padding': 30
    ),
    'headings': (
        'h1': 64,
        'h2': 52,
        'h3': 40,
        'h4': 32,
        'h5': 28,
        'h6': 16
    ),
    'extra': (
        'border-radius': 5,
        'transition-time': 0.6s,
        'p-margin': 20
    )
);

$breakpoints : theme('breakpoints');

$base-margin: spacing('margin');
$base-padding: spacing('padding');
$module-margin: spacing('module-margin');
$module-padding: spacing('module-padding');

$border-radius:  theme('extra', 'border-radius');
$tr: theme('extra', 'transition-time');
$p-margin: theme('extra', 'p-margin');

$h1: theme('headings', 'h1');
$h2: theme('headings', 'h2');
$h3: theme('headings', 'h3');
$h4: theme('headings', 'h4');
$h5: theme('headings', 'h5');
$h6: theme('headings', 'h6');
