.bg-dark {
  color: color('inverse');

  label,
  a:not(.button) {
    color: color('inverse');
  }

  .close-button {
    color: color('inverse');
  }

  .module.form .gform_wrapper {
    .validation_message {
      color: color('inverse');
    }

    .validation_error {
      color: color('inverse');
      border-color: color('inverse');
    }

    ul.gform_fields {
      li.gfield {
        .ginput_container_checkbox .gfield_checkbox,
        .ginput_container_radio .gfield_radio {
          > li {
            label {
              &:before {
                border-color: color('inverse');
              }

              &:after {
                background: color('inverse') !important;
              }
            }
          }
        }
      }
    }
  }
}

.bg-grey {
    background: color('grey');

    &.content-block {
        @include responsive-margin('top', 96);
    }

    .template-testimonials-slider {
        .item {
            background: color('grey') !important;

            .review,
            .name {
                color: color('black-light');
            }
        }
    }

    .template-testimonials-slider {
        .item {
            background: color('white') !important;

            .review,
            .name {
                color: color('white');
            }
        }
    }
}

.bg-light-grey {
    background: color('light-grey');

    &.content-block {
        @include responsive-margin('top', 96);
    }

    .template-header {
        h2,
        .subheadline,
        p {
            color: color('black-light');
        }
    }

    .template-testimonials-slider {
        .item {
            background: color('grey') !important;

            .review,
            .name {
                color: color('black-light');
            }
        }
    }

    .module.text-editor {
        * {
            color: color('black-light');
        }
    }
}

.bg-grey,
.bg-light-grey {
    .module.form {
        .gform_wrapper {
            .gform_fields {
                .gfield {
                    input,
                    textarea {
                        background: color('black-light');
                        color: color('white');
                        border: 1px solid color('black-light');
                    }
                }
            }
        }
    }
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

//video bg
.bg-video {
  position: relative;

  .video-overlay {
    overflow: hidden;
    @include overlay;
    z-index: 1;

    video {
        transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        object-fit: fill;
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

.bg-video,
.bg-image {

  .overlay {
    @include overlay;
    background: rgba(0,0,0,0.4);
  }
}
