section.content-block.template-appointment {
    .grid-container {
        max-width: rem-calc(650);
        margin: 0 auto;
    }

    .template-header {
        margin-bottom: rem-calc(32);
    }

    .healcode {

        color: $white;
        

        .header h1 {
            border: 0;
            margin-bottom: rem-calc(32);
            padding-top: 0;
            line-height: 1.19;
            display: none;

            .healcode-title-text {
                @include typo('h2');
                line-height: 1.19;
                color: $white;
            }
        }
  
        .hc_footer,
        .cart_version,
        .my_account_version {
            display: none !important;
        }

        .pre-filters {
            @include responsive-type(20, 16);

            select {
                width: 100%;
                box-shadow: none;
                position: relative;
                margin: 0;
                padding: $input-paddings;
                height: $input-height;
                cursor: pointer;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                background-image: svg-uri('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.6 9.7" style="enable-background:new 0 0 18.6 9.7;" xml:space="preserve"><path d="M9.6,9.7c-0.3,0-0.7-0.1-1-0.3L0.5,2.7c-0.6-0.5-0.7-1.5-0.2-2.1c0.5-0.6,1.5-0.7,2.1-0.2l7.1,5.9l6.5-5.9 c0.6-0.6,1.6-0.5,2.1,0.1c0.6,0.6,0.5,1.6-0.1,2.1l-7.5,6.7C10.3,9.6,10,9.7,9.6,9.7z" fill="#fff"/></svg>');
                background-origin: content-box;
                background-position: right 0 center;
                background-size: 16px 10px;
                background-repeat: no-repeat;
                background-color: color('blue-900');
                border: 0;
                letter-spacing: -0.13px;
                color: $white;
                font-weight: bold;
                padding-right: rem-calc(16);
            }

            > div {
                margin: rem-calc(16 0) !important;
            }
        }
    }


    //calendar
    .ui-datepicker {
        width: rem-calc(282);
        padding: rem-calc(0 4 8);
        border-radius: 0 !important;
        border-radius: 0 !important;
        background: #24282f !important;
        border: 0;
        margin-top: rem-calc(32);
    }

    .ui-datepicker-calendar {
        th {
            font-size: rem-calc(18);
            font-weight: bold;
            letter-spacing: -0.11px;
            padding: 0;
            padding: rem-calc(5 0);
            color: white;
        }

        td {
            font-size: rem-calc(14);
            font-weight: bold;
            letter-spacing: -0.09px;
            color: #161920;
            border: solid 1px #24282f;
            background-color: #afb1b4;
            padding: 0 !important;
            width: 14.2857%;
            height: rem-calc(37);
                    
            span, a {
                text-align: center;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: #161920;
            }
        }
    }

    .ui-state-default, 
    .ui-widget-content .ui-state-default, 
    .ui-widget-header .ui-state-default {
        border: 0;
    }

    .ui-datepicker-other-month {
        background: none !important;
        border: 0;

        span, a {
            color: #616264 !important;
        }
    }

    .ui-state-highlight, 
    .ui-widget-content .ui-state-highlight, 
    .ui-widget-header .ui-state-highlight {
        border: 0;
        background: #3ebddf !important;    
    }

    .ui-widget-content {
        background: none;
    }


    .ui-state-disabled, 
    .ui-widget-content .ui-state-disabled, 
    .ui-widget-header .ui-state-disabled {
        opacity: 0.8;
    }

    
    .ui-state-active, 
    .ui-widget-content .ui-state-active, 
    .ui-widget-header .ui-state-active {
        background: #3ebddf !important;
        border: 0;
    }

    .ui-widget-header {
        margin-left: rem-calc(-4);
        margin-right: rem-calc(-4);
        background: $white;
        border-radius: 0 !important;
        padding: rem-calc(11);
    }

    .ui-datepicker .ui-datepicker-title {
        line-height: 1;
        font-size: rem-calc(18);
        font-weight: bold;
        letter-spacing: -0.11px;
        color: #161920;
    }

    .ui-icon-circle-triangle-e,
    .ui-icon-circle-triangle-w {
        background: none;
        width: 20px;
        height: 20px;
        background: #000000;
        border-radius: 20px;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;

        &:before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 7px solid white;
            top: 50%;
            left: 50%;
            transform: translate(-3px, -50%);        
        }
    }

    .ui-icon-circle-triangle-w {
        transform: scale(-1)
    }

    .ui-datepicker .ui-datepicker-prev, 
    .ui-datepicker .ui-datepicker-next {
        width: auto;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.ui-state-disabled {
            pointer-events: none;
        }
    }

    .ui-datepicker .ui-datepicker-prev {
        left: rem-calc(10);
    }

    .ui-datepicker .ui-datepicker-next {
        right: rem-calc(10);
    }

    
    .ui-state-hover, 
    .ui-widget-content .ui-state-hover, 
    .ui-widget-header .ui-state-hover, 
    .ui-state-focus, 
    .ui-widget-content .ui-state-focus, 
    .ui-widget-header .ui-state-focus {
        border: 0;
        background: none;
    }

    .ui-datepicker .ui-datepicker-prev-hover, 
    .ui-datepicker .ui-datepicker-next-hover {
        top: 50%;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: rem-calc(10);
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: rem-calc(10);
    }

    a.hc-button, 
    input.hc-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: color('primary');
        color: color('black-shade');
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        border: 0;
        transition: color $tr/2, background $tr/2, border-color $tr/2, clip-path $tr/2;
        @include font-size(20, 1.6);
        width: rem-calc(164);
        padding: rem-calc(10 26);
        border-radius: 0;
        height: rem-calc(48);
        position: relative;
        font-weight: 600;
        white-space: nowrap;
        text-transform: none;
    
        &:hover {
            color: color('black-shade');
            background: color('blue-dark');
        }


        &:active {
            clip-path: polygon(0% 30%, 15% 0%, 100% 0%, 100% 70%, 85% 100%, 0% 100%);
        }

        &:focus {
            background: color('primary');
            color: color('black-shade');

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                border: 1px solid #6cdaeb;
            }
        }
    }

    div.disabled-form {
        opacity: 0.5;
        pointer-events: none;

        &:before {
            display: none;
        }
    }



    div.healcode.appointments {
        .healcode-trainer {
            @include responsive-type(20, 16);
            display: flex;
            flex-wrap: wrap;
            margin-left: rem-calc(-12);
            margin-right: rem-calc(-12);

            &:before {
                content: '';
                height: 1px;
                background: #616264;
                width: calc(100% - #{rem-calc(24)});
                margin-left:auto;
                margin-right: auto;
                margin-bottom: rem-calc(30);
                margin-top: rem-calc(20);

            }
      
            > * {
                margin: rem-calc(0 12);
            }
        }
    
        .trainer-label {
            margin-bottom: rem-calc(34);
            width: 100%;
        }

        .button.appointment {
            padding: 0;
            background: none;
            margin-bottom: rem-calc(24);
            width: calc(25% - #{rem-calc(24)});
            display: block;
            text-align: left;

            @include breakpoint(small only){
                width: calc(50% - #{rem-calc(24)});
            }

            a.hc-button {
                margin: 0;
                width: 100%;
                padding: rem-calc(10 22);
                height: rem-calc(48);
                background-color: #afb1b4;
                @include responsive-type(20, 16);
                font-weight: bold;
                color: #151515;

                &:hover {
                    background: color('primary');
                    color: color('black-shade');
                }


                &:active {
                    clip-path: none;
                }
            }
        }
    }

}