section.content-block.template-blog {

    .template-blog-stacked {
        & + * {
            margin-top: rem-calc(64);
        }

        .item {
            display: flex;

            @include breakpoint(small only) {
                flex-direction: column;
            }

            .img-wrapper {
                clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
                overflow: hidden;
                position: relative;

                @include breakpoint(medium up) {
                    height: 100%;
                    max-height: rem-calc(480);
                    max-width: rem-calc(908);
                    width: 100%;
                }

                img,
                svg {
                    object-fit: cover;
                    object-position: center center;
                    height: 100%;
                    width: rem-calc(908);
                }
            }

            .content {
                padding: rem-calc(48);
                clip-path: polygon(100% 0, 100% 82%, 70% 100%, 0 100%, 0 0);
                background: color('blue-900');
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include breakpoint(medium up) {
                    max-width: rem-calc(486);
                    min-height: rem-calc(480);
                    width: 100%;
                }

                @include breakpoint(small only) {
                    padding: rem-calc(32 24 32 24);
                    clip-path: polygon(100% 0, 100% 90%, 78% 100%, 0 100%, 0 0);
                }

                .preheadline {
                    color: color('blue');
                    font-size: rem-calc(16);
                    font-weight: 400;

                    & + * {
                        margin-top: rem-calc(16);
                    }
                }

                .title {
                    & + * {
                        margin-top: rem-calc(64);

                        @include breakpoint(small only) {
                            margin-top: rem-calc(16);
                        }
                    }
                }

                .button {
                    width: fit-content;
                    font-size: rem-calc(24);
                }
            }
        }
    }

    .blog-filters-wrapper {
        & + * {
            margin-top: rem-calc(64);
        }

        p {
            font-size: rem-calc(20);
            font-weight: 500;

            & + * {
                margin-top: rem-calc(24);
            }
        }

        .blog-filters {
            display: flex;
            align-items: center;
            margin-bottom: rem-calc(-24);
            flex-wrap: wrap;

            .facet-radio-wrapper {
                .facetwp-radio {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: color('primary');
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    user-select: none;
                    transition: color $tr/2, background $tr/2, border-color $tr/2, clip-path $tr/2;
                    @include font-size(20, 1.6);
                    padding: rem-calc(10 26);
                    height: rem-calc(48);
                    position: relative;
                    font-weight: 600;
                    white-space: nowrap;
                    margin-right: rem-calc(24);
                    margin-bottom: rem-calc(24);
                    background: none;
                    color: color('white');
                    border: 2px solid color('white');
                    border-radius: rem-calc(24);
                    clip-path: none !important;
                    width: auto;

                    &:last-child {margin-right: 0;}

                    &:hover {
                        background: color('grey');

                        &:not(.checked) {
                            color: color('white');
                        }
                    }

                    &:before {
                        border: none !important;
                    }

                    &.checked {
                        background: color('white');
                        color: color('black-light');
                        display: flex;
                        align-items: center;

                        &:after {
                            content: '';
                            display: block;
                            width: rem-calc(16);
                            height: rem-calc(16);
                            background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><path d="M0,14.8L6.8,8L0,1.2L1.2,0L8,6.8L14.8,0L16,1.2L9.2,8l6.8,6.8L14.8,16L8,9.2L1.2,16L0,14.8z" fill="#161920"/></svg>');
                            background-size: contain;
                            margin-left: rem-calc(14);
                        }
                    }

                    .facetwp-counter {
                        display: none;
                    }
                }
            }

            .facet-dropdown-wrapper {
                width: 100%;

                .facetwp-type-dropdown {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        right: rem-calc(8);
                        top: 50%;
                        transform: translate(0, -50%);
                        height: rem-calc(32);
                        width: rem-calc(32);
                        background-image: url("../images/expand-more-white.svg");
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    select {
                        width: 100%;
                        background-color: color('blue-900');
                        padding: rem-calc(10);
                        font-size: rem-calc(20);
                        font-weight: 500;
                        color: color('white');
                        border: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        &::-ms-expand {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .template-blog-items {
        .cell {
            @include responsive-margin('bottom', 96);

            .img-wrapper {
                @include imgWrapper;

                & + * {
                    margin-top: rem-calc(24);
                }
            }

            .preheadline {
                color: color('blue');
                font-size: rem-calc(16);
                font-weight: 400;

                & + * {
                    margin-top: rem-calc(4);
                }
            }

            .title {
                & + * {
                    margin-top: rem-calc(16);
                }
            }
        }
    }


    .blog-pagination {
        .facetwp-facet {
            margin: 0;
        }

        .facetwp-page,
        .button-arrow {
            margin-right: rem-calc(4);
        }

        .facetwp-pager {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        .facetwp-page {
            background: none;
            position: relative;
            height: rem-calc(48);
            width: rem-calc(48);
            background-color: color('blue-900');
            transition: background-color $tr/2, border $tr/2;
            border: 1px solid transparent;
            cursor: pointer;
            color: color('blue');
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &.active {
                border: 1px solid color('blue');
            }

            &.disabled {
                pointer-events: none;
                border: 1px solid transparent;

                &:before {
                    background: color('grey');
                }

                &:after {
                    border-color: color('grey');
                }
            }
        }
    }
}
