.module.text-editor {
    margin-left: auto;
    margin-right: auto;

    a:not(.button) {
        color: color('primary');

        &:hover {
            text-decoration: underline;
        }
    }

    *:not(img) {
        max-width: rem-calc(588);
        margin-left: auto;
        margin-right: auto;
    }

     p.img-container {
        max-width: 100%;
     }

    img {
        &.size-large {
            max-width: 100%;
        }

        &.size-medium {
            max-width: rem-calc(791);
        }

        &.size-small {
            max-width: rem-calc(320);
        }

        &.size-large,
        &.size-medium,
        &.size-small {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    p {
        @include typo('text');

        & + & {
            @include responsive-margin('top', 32);
        }
    }

    p {
        &+ol,
        &+ul,
        &+h1,
        &+h2,
        &+h3,
        &+h4,
        &+h5,
        &+h6,
        &+div {
            @include responsive-margin('top', 64);
        }
    }

    p + p.img-container {
        img.alignnone {
            @include responsive-margin('vert', 64);
        }

        img.aligncenter {
            @include responsive-margin('vert', 32);
        }
    }

    p {
        &:last-child {
            &.img-container {
                img.alignnone {
                    margin-bottom: 0;
                }
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        & + p {
            @include responsive-margin('top', 32);
        }
    }

    p,
    ul,
    ol,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        & + img.size-large,
        & + img.size-medium,
        & + img.size-small {
            @include responsive-margin('top', 96);
        }
    }

    img {
        &.alignleft,
        &.alignright {
            @include responsive-margin('top', 40, 0.2, 'true');
        }
    }
}
